/*
Theme Name: Please Connect Me
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: please-connect-me
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Please Connect Me is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"], .butt{
	border: none;
	border-radius: 0;
	background: #ffffff;
	color: #ff4337;
	font-size: 1em;
	line-height: 1;
	padding: 0;
	transition: all 0.3s ease 0s;
	z-index: 999;
}

.butt{
	border: 1px solid #eeeeee;
}

.process .butt, #how .butt{
	width: 12em;
    margin: 0 auto;
}

.process .butt{
	margin: 2em 2em 0;
	width: inherit;
	position: absolute;
	bottom: 2.4em;
	left: 0;
    right: 0;
}

.process .butt a, #how .butt a{
	display: block;
	padding: 1em;
	text-decoration: none;
}

.process .butt:hover a, #how .butt a:hover, .process .butt:hover a:visited, #how .butt a:hover:visited{
	color: #fff;
	text-decoration: none;
}

.applyNow a{
	display: block;
	padding: 0.9em 1.2em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover, .butt:hover {
	background: #ff4337;
	border: 1px solid #ff4337;
	color: #ffffff;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active, .butt:focus, .but:active {
	outline: none;
	background: #ff8b84;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="search"],
textarea {
	border: none;
	border-radius: 0;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.3s ease 0s;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
input[type="search"]:hover,
textarea:focus {
	background: #eeeeee;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
	background: #ffe7e6;
	outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="search"] {
	height: 3.12em;
	padding: 0 0.8em;
	color: #5a666f;
}

textarea {
	width: 100%;
}

::-webkit-input-placeholder {
   color: #5a666f;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5a666f; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5a666f;  
}

:-ms-input-placeholder {  
   color: #5a666f;  
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

ul.headSplit{
	margin: 0;
	padding: 1em;
	width: 100%;
	overflow: auto;
}

ul.headSplit li{
	list-style: none;
}

ul.headSplit li:first-child{
	float: left;
}

.home ul.headSplit li:last-child, .page-id-14 ul.headSplit li:last-child, .home ul.headSplit li:nth-child(2n), .page-id-14 ul.headSplit li:nth-child(2n){
	float: right;
	display: block;
}

ul.headSplit li:last-child, ul.headSplit li:nth-child(2n){
	display: none;
}

.applyNow{
	font-weight: 700;
	border: 1px solid #eeeeee;
}

.home .branding{
	display: none;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
	color: #001388;
	text-decoration: none;
}

a:visited {
	color: #001388;
	text-decoration: none;
}

a:hover{
	color: #001388;
	text-decoration: underline;
}

a:focus, a:active{
	color: #ff4337;
	text-decoration: underline;
}

a:focus{
	outline: none;
}

a:hover,
a:active{
	outline: 0;
}

#masthead a{
	color: #ff4337;
	text-decoration: none;
	border-bottom: none;
	transition: all 0.3s ease 0s;
}

#masthead a:visited{
	color: #ff4337;
	text-decoration: none;
	border-bottom: none;
}

#masthead a:hover{
	color: #ffffff;
	border-bottom: none;
}

#masthead a:active{
	color: #ff4337;
	border-bottom: none;
}

#masthead a:focus{
	outline: none;
	border-bottom: none;
}

a:hover,
a:active{
	outline: 0;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.menu-toggle, .main-navigation.toggled .nav-menu {
	display: block;
	border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-top: -1px;
}

.menu-toggle{
	width: 3em;
	height: 3em;
	border: 1px solid #eeeeee;
}

.menu-menu-container{
	float: left;
}

ul.nav-menu li a{
	display: block;
	padding: 0.6em 1em;
}

ul.nav-menu li{
	width: 100%;
	float: none;
	width: 12em;
	border-bottom: 1px solid #eeeeee;
	transition: all 0.3s ease 0s;
}

ul.nav-menu li:first-child, ul.nav-menu li:last-child{
	float: none;
	display: block;
}

ul.nav-menu li:nth-child(2n){
	display: block !important;
	float: none !important;
}

body #masthead ul.nav-menu li:last-child a, body #masthead ul.nav-menu li:last-child a:visited{
	color: #5b6770;
	float: none;
}

body #masthead ul.nav-menu li:last-child:hover{
	background: #dddddd;
}

ul.nav-menu li:hover{
	background: #ff4337;
}

.prompt{
	display: block;
	position: absolute;
	left: 5em;
	top: 1.76em;
	font-weight: 600;
	color: #ff4337;
}

.menu-toggle:before{
	content: '';
	background-position: 0 0;
	position: absolute;
	background: url('img/hamburger-sprite.svg') no-repeat;
	background-size: 26px 48px;
	width: 26px;
	height: 24px;
	left: 1.66em;
    top: 1.70em;
}

.menu-toggle:hover:before{
	background-position: 0 -24px;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	background: rgba(255,255,255,0.9);
	padding: 0;
	list-style: none;
	margin: 0;
	overflow: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. 
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
} */

@media screen and (max-width: 800px) {
	html body .wordmark{
		width: auto !important;
    	margin: 0 1.6em;
	}
	html body.home.page .royalSlider, html body.page.page-id-14 .royalSlider{
		height: 72vh !important;
	}
	html .home .scroll, html .page.page-id-14 .scroll{
		display: none;
	}
	html body .wordmark h2{
		font-size: 1.46em;
		padding: 0;
	}
	html .home ul.headSplit li:nth-child(2n), html .page-id-14 ul.headSplit li:nth-child(2n), html .branding{
		position: absolute;
		right: 1em;
	}
	html .home ul.headSplit ul.menu li:nth-child(2n), html .page-id-14 ul.headSplit ul.menu li:nth-child(2n){
		position: relative;
		right: inherit;
	}
	html body .wordmark{
		top: 4.6em !important;
	}
	html section.logos{
		display: none;
	}
	#content .rsUni .rsBullets{
		display: none;
	}
	.entry-content section.yourHome .inHome{
		padding: 2.8em 0;
	}
	.entry-content section.getConnect .inConnect{
		padding: 2.8em 0 0 0;
	}
	.entry-content section h3{
		font-size: 1.62em
	}
	.entry-content section.yourHome p, .entry-content section .inConnect p{
		padding: 0 1em;
	}
	.entry-content ul.split li{
		width: 100%;
		float: none;
		padding-bottom: 1em;
	}
	.entry-content ul.split li:first-child{
		border-bottom: 4px solid #ffffff;
		border-right: none;
	}
	.entry-content ul.split li:first-child #connections li{
		border-bottom: 2px solid #ffffff;
		padding-bottom: 0;
	}
	.entry-content ul.split li:last-child{
		border-left: none;
	}
	.entry-content ul.split li h3{
		padding: 0 2em;
	}
	.entry-content ul.split li p{
		padding: 1.6em 1em;
	}
	.entry-content ul.split li #how.openView{
		padding: 7.6em 2em;
	}
	.entry-content section.moving .inMoving{
		padding: 2.8em 0;
	}
	.entry-content section.moving .inMoving p{
		padding: 0 1em;
	}
	.entry-content section.getConnect{
		padding-bottom: 2.8em;
	}
	.entry-content ul.horizon{
		height: auto;
		padding: 0 1.4em;
		margin: 0 auto;
	}
	.entry-content ul.horizon.one li:nth-child(1), .entry-content ul.horizon.one li:nth-child(2), .entry-content ul.horizon.one li:nth-child(3), .entry-content ul.horizon.reg li:nth-child(1), .entry-content ul.horizon.reg li:nth-child(2), .entry-content ul.horizon.reg li:nth-child(3), .entry-content ul.horizon.reg li:nth-child(4), .entry-content ul.horizon.reg li:nth-child(5){
		width: 100%;
		padding: 0.4em 0;
		border-right: none;
	}
	.entry-content ul.horizon.one li:nth-child(4), .entry-content ul.horizon.three li:nth-child(1), .entry-content ul.horizon.three li:nth-child(2), .entry-content ul.horizon.three li:nth-child(3), body.page-id-14 ul.horizon.two li:nth-child(1), body.page-id-14 ul.horizon.two li:nth-child(2){
		width: 100%;
		padding: 0.4em 0;
		border-right: none;
	}
	.entry-content ul.horizon.about-us{
		padding: 0.4em 1.4em 0.8em;
	}
	body.page-id-14 ul.horizon.two.clientLast li:last-child{
		padding-bottom: 0.8em;
	}
	.entry-content ul.horizon.two li:nth-child(1), .entry-content ul.horizon.two li:nth-child(2), .entry-content ul.horizon.two li:nth-child(2), body.home ul.horizon.two li:nth-child(1), body.home ul.horizon.two li:nth-child(2), body.home ul.horizon.two li:nth-child(3), body.page-id-14 ul.horizon.two li:nth-child(3), body.page-id-125 ul.horizon.two li:nth-child(1), body.page-id-125 ul.horizon.two li:nth-child(2), body.page-id-125 ul.horizon.two li:nth-child(3){
		width: 100%;
		padding: 0.4em 0;
		border-right: none;
	}
	.entry-content ul.horizon.two li:nth-child(3), .entry-content ul.horizon.two li:nth-child(4){
		width: 100%;
		padding: 0.4em 0;
	}
	.wpcf7-form-control-wrap.connections span.wpcf7-list-item {
	    margin: 0 auto;
	    width: 60%;
	    display: block;
	    text-align: left;
	}
	.entry-content section.speak{
		padding-bottom: 2.8em;
		min-height: 28em; 
	}
	.entry-content section.speak .inSpeak{
		padding: 2.8em 0 0 0;
	}
	.entry-content section.speak .inSpeak h3{
		padding: 0 2em;
	}
	.entry-content section.speak p{
		padding: 0 1em;
	}
	body.page-id-31 .branding, .blog .branding, .single-post .branding{
		padding-top: 0.8em;
	}
	body.page-id-38 .branding, body.page-id-125 .branding{
		margin-top: 0.8em;
	}
	#page #footer-sidebar1, #page #footer-sidebar2, #page #footer-sidebar3{
		width: 100%;
		padding-bottom: 0;
		float: none;
	}
	#page #footer-sidebar3{
		padding-bottom: 2em;
	}
	.entry-content section.refer .inRefer p, .entry-content section.easy .inEasy p, .entry-content section.value .inValue p{
		padding: 0 1em;
	}
	.entry-content ul.process li{
		width: 100%;
		border-bottom: 4px solid #ffffff;
		height: auto;
		min-height: 23em;
	}
	.entry-content section.easy .inEasy{
		padding: 2.8em 0 2.2em;
	}
	.entry-content section.refer .inRefer{
		padding: 2.8em 0 4.8em;
	}
	.entry-content h3{
		padding: 0 2em;
	}
	.entry-content section.value .inValue{
		padding: 2.8em 0;
	}
	.entry-content ul.service{
		margin: 1em 0 0 0;
		display: none;
	}
	.entry-content ul.horizon.code li{
		width: 100%;
		padding: 0.4em 0;
	}
	#main h1.entry-title{
		padding: 0 0.4em;
	}
	.entry-content .mas.ui-accordion{
		width: 92%;
		margin: 0 auto;
	}
	body.page-id-38 ul.horizon input[type="submit"]{
		width: 100%;
		float: none;
		margin-top: 0.8em;
	}
	body.page-id-61 ol{
		margin: 0 auto;
		width: 78%;
	}
	body.page-id-61 h4{
		padding: 0 1em;
	}
	.entry-content section ul.reason{
		display: none;
	}
	:root .soc{
		display: none;
	}
	body.blog .blogHeading, .body.single-post .blogHeading{
		font-size: 1.2em;
	}
	body.blog .archiveHold, body.single-post .archiveHold{
		margin: -8em 1em 0;
	}
	body.blog .archiveHold h2, body.single-post #main .archiveHold h1.entry-title{
		line-height: 1em;
		padding: 0;
	}
	.blog .archiveHold .entry-content p, .single-post .archiveHold .entry-content p{
		font-size: 1em;
	}
	body .gallery-columns-3 .gallery-item{
		width: 100%;
		max-width: 100%;
		margin-bottom: 0.6em;
	}
}

@media (max-width: 950px){
	:root body #logo-slider-wraper{
		display: none !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	section.double ul.split li h3{
		font-size: 1.6em;
	}
	section.double ul.split li #how.openView{
		padding: 6.6em 5em;
	}
	:root .home .scroll, :root .page.page-id-14 .scroll{
		bottom: -4.2em;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	:root body .wordmark{
		top: 14em !important;
	}
	:root ul.split li{
		min-height: 36em;
	}
	:root .home .scroll, :root .page.page-id-14 .scroll{
		bottom: -3.2em;
	}
	:root ul.split li h3{
		font-size: 1.6em;
		padding: 0 2em;
	}
	:root ul.split li p{
		padding: 1.6em 1.4em 0 1.4em;
	}
	:root ul.split li #how.openView{
		padding: 5.6em 5em;
	}
	:root ul.split li .openView ul{
		margin-top: 9em;
	}
	:root section.moving .inMoving, :root section.yourHome .inHome, :root section.getConnect .inConnect, :root section.speak .inSpeak{
		padding: 5em 4em;
	}
	:root .mas.ui-accordion{
		padding: 0 2em;
	}
	.page-id-14 section.easy, .page-id-14 section.refer, .page-id-14 section.value{
		padding: 0 2em;
	}
	.page-id-61 .entry-title{
		padding: 0 1em;
	}
	.page-id-61 .entry-content{
		padding: 0 2.6em;
	}
	.page-id-14 ul.reason li{
		margin: 0 1.2em 1em;
	}
	:root section.speak{
		min-height: 27em;
		padding-bottom: 0;
	}
	.page-id-14 ul.process li{
		width: 60%;
		margin-bottom: 4px;
	}
	.page-id-14 ul.process li h4{
		margin-top: 3em;
	}
}

@media only screen and (min-width: 1624px){
	:root .rsContent{
		top: 7em;
	}
}


.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Cookies */

body button#catapultCookie{
	border-radius: 0;
}

/* Slider */

#masthead{
	width: 100%;
	position: fixed;
	z-index: 999;
	-webkit-backface-visibility:hidden; 
	-webkit-transform: translateZ(0);
}

body.home.page .royalSlider, body.page.page-id-14 .royalSlider{
	height: 94vh !important;
	display: block !important;
}

body.page .royalSlider, body.page.page-id-14 #new-royalslider-1{
	height: 0 !important;
	display: none !important;
}

body .royalSlider.rsUni .rsPreloader{
	display: none;
}

/* Slider Bullets */

#content .rsUni .rsBullets{
	position: absolute;
	top: 44%;
}

#content .rsUni .rsBullet{
	padding: 0.2em 1.4em;
	width: 10px;
	height: 10px;
}

#content .rsUni .rsBullet.rsNavSelected span{
	background: #ffffff;
}

#content .rsUni .rsBullet span{
	background: none;
	border: 1px solid #ffffff;
	cursor: pointer;
	width: 10px;
	height: 10px;
}

/* End Sldier */

body .wordmark{
	width: 100% !important;
	height: auto !important;
	left: 0 !important;
	top: 6em !important;
	position: absolute;
}

body .wordmark h2{
	text-align: center;
	letter-spacing: 0.04em;
	font-size: 1.8em;
	font-weight: 500;
	padding: 5.6em 30% 0;
	text-shadow: 0 1px 2px #444;
}

.home #agentButt{
	display: none;
	font-size: 0;
}

.page-id-14 #homeButt{
	display: none;
	font-size: 0;
}

.wordmark h1{
	color: #fff;
	font-size: 2.6em;
	text-align: center;
}

.home .scroll, .page.page-id-14 .scroll{
 	text-align: center;
 	width: 100%;
 	position: absolute;
 	z-index: 888;
 	bottom: -3.86em;
 	color: #ffffff;
 	display: block;
}

.home .scroll .circ:hover, .page.page-id-14 .scroll .circ:hover{
	background: #ff4337;
}

.home .scroll .circ a, .page.page-id-14 .scroll .circ a{
	display: block;
    width: 80px;
    height: 80px;
}

.home .scroll .circ a:before, .page.page-id-14 .scroll .circ a:before{
	content: '';
	background-position: 0 0;
	position: absolute;
	background: url('img/arrow-sprite.svg') no-repeat;
	background-size: 26px 76px;
	width: 26px;
	height: 38px;
	left: 1.66em;
    top: 1.4em;
}

.home .scroll .circ:hover a:before, .page.page-id-14 .scroll .circ:hover a:before{
	background-position: 0 -38px;
}

.scroll{
	display: none;
}

.circ{
	background: #ffffff;
	width: 5em;
	height: 5em;
	border-radius: 40px;
	margin: 0 auto;
	position: relative;
	transition: all 0.3s ease 0s;
}

.circ img{
	padding-top: 1.3em;
}

/* Page */

.home .entry-content, .page-id-14 .entry-content, .page-id-38 .entry-content, .page-id-52 .entry-content, .page-id-125 .entry-content{
	width: 100%;
	max-width: 100%;
	margin: 0;
}

.home .entry-header, .page-id-14 .entry-header, .page-id-38 .entry-header, .page-id-52 .entry-header, .page-id-125 .entry-header{
	display: none;
}

.home .branding, .page-id-14 .branding, .page-id-38 .branding img, .page-id-52 .branding, .page-id-125 .branding img{
	display: none;
}

.page-id-38 .branding, .page-id-125 .branding{
	background: url('/wp-content/themes/please-connect-me/img/please-connect-me.svg') no-repeat;
	width: 200px;
	height: 21px;
	background-size: 200px 21px;
	float: right;
    margin-top: 0.4em;
}

.branding{
	float: right;
	padding-top: 0.4em;
}

.page.page-id-136 .entry-content h3{
	color: #001388;
	font-weight: 500;
    font-size: 1.62em;
}

.page.page-id-136 .entry-content li{
	padding-bottom: 0.8em;
}

h3.widget-title{
	font-weight: 600 !important;
	color: #ffffff !important;
	font-size: 1.17em !important;
}

.entry-header{
	max-width: 60em;
	width: 100%;
	margin: 6em auto 2em;
}

.entry-content{
	max-width: 60em;
	width: 100%;
	margin: 0 auto 4em;
}

section.yourHome{
	background: #6d6e71;
	width: 100%;
	color: #ffffff;
	text-align: center;
	margin: 0;
	min-height: 32em;
}

section.yourHome .inHome, section.getConnect .inConnect{
	max-width: 60em;
	margin: 0 auto;
	padding: 9.2em 0;
}

section h3{
	font-size: 2.02em;
}

section.yourHome p, section .inConnect p{
	padding: 0 2em;
	font-size: 1.28em;
	letter-spacing: 0.04em;
	margin: 1.8em auto;
}

section .line{
	color: #fff;
	background: #fff;
	height: 3px;
	max-width: 10em;
    margin: 0 auto;
}

/* Logo slider */

/* Hide

#logo-slider-wraper, .hide{
	display: none;
}*/

/* Split */

section.double{
	width: 100%;
}

ul.split{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

ul.split li{
	list-style: none;
	position: relative;
	width: 50%;
	background: #eeeeee;
	cursor: pointer;
	min-height: 33em;
	text-align: center;	
}

ul.split li h3{
	color: #5b6770;
	text-align: center;
	margin: 0.4em 0 1em 0;
}

ul.split li img{
	padding: 2em 0 0 0;
}

ul.split li p{
	padding: 1.6em 4em 0 4em;
	font-size: 1.28em;
	letter-spacing: 0.04em;
	text-align: center;
	max-width: 32em;
	margin: 0 auto;
	color: #5b6770;
}

ul.split li .line{
	background: #5b6770;
}

ul.split li:first-child{
	float: left;
	border-right: 2px solid #ffffff;
}

ul.split li:last-child{
	float: right;
	border-left: 2px solid #ffffff;
}

ul.split li .openView{
	opacity: 0;
	background: rgba(0, 19, 136, 0.9);
	position: absolute;
	z-index: 555;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s;
}

ul.split li .openView:hover{
	opacity: 1;
}

ul.split li .openView p{
	padding: 0;
}

ul.split li .openView ul{
	margin: 7em 0 0 0;
	padding: 0;
	overflow: auto;
	text-align: center;
}

ul.split li .openView ul li{
	display: inline;
	list-style: none;
	float: none;
	font-size: 1.2em;
	line-height: 2.4em;
	text-align: center;
	color: #ffffff;
	border-right: none;
	border-left: none;
	background: none;
	margin: 0 auto;
	border-bottom: 2px solid #ffffff;
}

ul.split li #how.openView p{
	color: #ffffff;
	text-align: center;
	padding: 1em 0;
	font-size: 1.8em;
}

ul.split li #how.openView{
	padding: 8.6em 5em;
	text-align: center;
}

ul.split li #how.openView button{
	padding: 1.2em 1.6em 1em;
	font-weight: bold;
	text-transform: uppercase;
}

ul.split li #how.openView button a{
	color: #ff4337;
	text-decoration: none;
}

ul.split li #how.openView button:hover a{
	color: #ffffff;
	text-decoration: none;
}

ul.split li #how.openView button:hover{
	border: none;
}

/* Moving */

section.moving{
	width: 100%;
	color: #5b6770;
	text-align: center;
	margin: 0;
	min-height: 32em;
	background: url('img/moving.jpg') no-repeat;
	background-position: center center;
}

section.moving .inMoving{
	max-width: 60em;
	margin: 0 auto;
	padding: 5em 0;
}

section.moving .inMoving h3{
	color: #ffffff;
}

section.moving .inMoving p{
	color: #ffffff;
	max-width: 38em;
	font-size: 1.28em;
	letter-spacing: 0.04em;
	margin: 1.8em auto;
}

/* Getting Connected */

section.getConnect{
	background: #001388;
	width: 100%;
	color: #ffffff;
	text-align: center;
	margin: 0;
	min-height: 32em;
	padding-bottom: 9.2em;
}

section.getConnect .inConnect{
	padding: 6.2em 0 0 0;
}

ul.formSplit{
	margin: 0;
	padding: 0;
	overflow: auto;
}

ul.formSplit li{
	list-style: none;
	width: 100%;
}

ul.formSplit li span.wpcf7-form-control-wrap{
	float: none;
}

ul.horizon{
	text-align: left;
	margin: 1.2em auto;
	padding: 0 2em;
	width: 100%;
	max-width: 72em;
	height: 3.12em;
	overflow: hidden;
}

ul.horizon.one li, ul.horizon.two li, ul.horizon.three li, ul.horizon.id li{
	display: inline-block;
	vertical-align: top;
}

ul.horizon.one li:nth-child(1), ul.horizon.one li:nth-child(2), ul.horizon.one li:nth-child(3), ul.horizon.three li:nth-child(2){
	width: 20%;
	border-right: 1px solid #5a666f;
}

ul.horizon.one li:nth-child(4){
	width: 40%;
}

.page-id-14 ul.horizon.two li:nth-child(1), .page-id-14 ul.horizon.two li:nth-child(2){
	width: 50%;
	vertical-align: top;
}

.home ul.horizon.two li:nth-child(1), .home ul.horizon.two li:nth-child(2), .home ul.horizon.two li:nth-child(3), .page-id-14 ul.horizon.two li:nth-child(1), .page-id-14 ul.horizon.two li:nth-child(2), .page-id-14 ul.horizon.two li:nth-child(3), .page-id-125 ul.horizon.two li:nth-child(1), .page-id-125 ul.horizon.two li:nth-child(2), .page-id-125 ul.horizon.two li:nth-child(3){
	width: 33.33%;
}

.home ul.horizon.two li:nth-child(3){
	border-right: none;
}

ul.horizon.two li:nth-child(1){
	width: 20%;
	vertical-align: top;
}

ul.horizon.two li:nth-child(2){
	width: 40%;
	vertical-align: top;
}

ul.horizon.two li:nth-child(1), ul.horizon.two li:nth-child(2), ul.horizon.two li:nth-child(3){
	border-right: 1px solid #5a666f;
}

ul.horizon.two li:nth-child(3){
	width: 20%;
	vertical-align: top;
}

ul.horizon.two li:nth-child(4){
	width: 20%;
}

ul.horizon.three li:nth-child(1){
	width: 60%;
	border-right: 1px solid #5a666f;
}

ul.horizon.three li:nth-child(3){
	width: 20%;
}

ul.horizon.id li{
	width: 33.33%;
	border-right: 1px solid #5a666f;
}

ul.horizon.id li:nth-child(3){
	border-right: none;
}

ul.horizon.code input{
	text-align: center;
}

ul.horizon input[type="submit"], ul.horizon input[type="submit"]:visited{
	height: 3.12em;
	width: 100%;
	background: #eeeeee;
	color: #5b6770;
	font-weight: 500;
    text-transform: uppercase;
}

ul.horizon input[type="submit"]:hover{
	color: #ffffff;
	background: #ff4337;
}

ul.horizon input[type="submit"]:active{
	color: #ffffff;
	background: #d40d00;
}

ul.horizon .use-floating-validation-tip span.wpcf7-not-valid-tip{
	border: none;
	top: 0;
	left: 0;
	padding: 0.8em;
	color: #ff4337;
	width: 100%;
}

body .wpcf7-form-control-wrap{
	display: block;
}

ul.horizon .first-name .wpcf7-not-valid-tip{
	left: 0;
}

ul.horizon .last-name .wpcf7-not-valid-tip{
	left: 20%;
}

ul.horizon .tel-num .wpcf7-not-valid-tip{
	left: 40%;
}

form h4{
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

ul.formSplit input[type="checkbox"]{
	width: 29.6px;
    height: 29.6px;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 4px solid #ffffff;
    position: relative;
    vertical-align: middle;
    margin: 0.2em 0 0.2em 0.2em;
    border-radius: 0;
}

ul.formSplit input[type="checkbox"]:focus{
	outline: none;
}

ul.formSplit input[type="checkbox"]:checked{
	background: #001388;
	-webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.wpcf7-list-item-label{
	padding: 0;
    vertical-align: middle;
}

#mc4wp-checkbox label{
	font-size: 0.9em;
}

.mc4wp-checkbox span{
	padding-left: 0.4em;
}

section .wpcf7-response-output, section div.wpcf7-response-output.wpcf7-validation-errors{
	border: none;
	font-size: 1.4em;
	margin-top: 0;
	color: #ffffff;
}

ul.horizon.code li{
	width: 20%;
	margin: 0 auto;
}

#ui-datepicker-div.ui-datepicker, body .ui-widget{
	font-family: "futura-pt",sans-serif;
    font-style: normal;
}

.ui-datepicker-header, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: #eeeeee;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border: 1px solid #ff736b;
	background: #ffd3d1;
}

.ui-datepicker{
	padding: 0.2em 0.26em 0.2em 0.24em;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-radius: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.ui-corner-all.ui-state-hover{
	background: #ffffff;
    margin: 0.12em;
}

.customSelect{
	background: #ffffff;
	width: 100%;
	height: 3.12em;
    padding: 0 0.8em;
    color: #5a666f;
}

.customSelectInner{
	padding: 0.8em 0;
	width: 100% !important;
	background:url('img/customSelect-arrow.gif') no-repeat center right;
}

/* Speak to us */

section.speak{
	background: #ffffff;
	width: 100%;
	color: #5b6770;
	text-align: center;
	margin: 0;
	min-height: 32em;
	padding-bottom: 9.2em;
}

section.speak .inSpeak{
	padding: 9.2em 0 0 0;
	max-width: 60em;
	margin: 0 auto;
}

section.speak p{
	font-size: 1.28em;
	letter-spacing: 0.04em;
	margin: 1.8em auto;
	padding: 0 6em;
}

section.speak .line{
	color: #5b6770;
	background: #5b6770;
	height: 3px;
	max-width: 10em;
    margin: 0 auto;
}

/* News & Updates */

.blogHeading{
	text-align: center;
	margin: 8rem 0 0;
	font-size: 2em;
}

.blog .entry-header, .single-post .entry-header {
    max-width: 60em;
    width: 100%;
    margin: 2em auto 4em;
}

.singleFeat{
	position: relative;
	z-index: -1;
	opacity: 0.6;
}

.archiveHold{
	margin: -10em 4em 0;
    padding: 0.4em 2em;
    background: #fafafa;
    z-index: 999;
}

.archiveHold .entry-title{
	font-size: 2.6em;
	margin: 1rem 0;
	font-weight: 600;
}

.archiveHold .entry-content p{
	font-size: 1.4em;
}

.blog #content{
	margin-bottom: 4em;
}

.category .page-header{
	text-align: center;
	margin: 6em 0 0;
}

/* Single Post */

.blog .navigation.posts-navigation, .single-post .navigation.post-navigation{
	max-width: 60em;
    width: 100%;
    margin: 6em auto;
    padding: 0 2em;
}

/* Utilities */

.page-id-31 .entry-content img{
	max-width: 148px;
	clear: both;
}

.page-id-31 .entry-content .line{
	height: 1px;
	background: #dddddd;
	width: 100%;
}

.entry-content .mas .ui-accordion-header{
	background: none;
	font-family: "futura-pt",sans-serif;
    padding: 0.4em;
    margin: 0;
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    letter-spacing: 0.02em;
    font-weight: 600;
    cursor: pointer;
}

.ui-accordion-header p{
	margin: 0;
}

.mas-icon.mas-, p.ui-accordion-header.ui-state-default.ui-corner-all{
	display: none;
}

.entry-content .mas .ui-accordion-header a, .entry-content .mas .ui-accordion-header a:visited{
	color: #ff4337;
	text-decoration: none;
	border-bottom: none;
}

.entry-content .mas .ui-accordion-header a:hover, .entry-content .mas .ui-accordion-header:hover a{
	text-decoration: none;
	border-bottom: none;
}

.entry-content .mas .ui-accordion-header:focus{
	outline: none;
	border-bottom: none;
}

.entry-content .mas .ui-accordion-header:hover{
	background: #fafafa;
}

.entry-content .ui-accordion .ui-accordion-content{
	border: none;
	padding: 0.4em 0 2em 0;
	font-family: "futura-pt",sans-serif;
	color: #5b6770;
}

.entry-content .ui-accordion .ui-accordion-content h4{
	color: #222222;
	font-weight: 500;
}

.entry-content .ui-accordion .ui-accordion-content ul{
	margin: 1em 0 1em;
	overflow: auto;
}

.entry-content .ui-accordion .ui-accordion-content ul li{
	list-style: circle;
	padding: 0.4em 0;
	color: #5b6770;
}

.mas.ui-accordion{
	margin-bottom: 4em;
}

h1.entry-title{
	font-size: 2.4em;
    margin: 0.67em 0;
    font-weight: 400;
    letter-spacing: 0.02em;
}

/* Contact */

.page-id-38 ul.horizon.two li:nth-child(1){
	width: 100%;
}

.page-id-38 ul.horizon.two{
	height: 10em;
}

.page-id-38 textarea{
	padding: 0.8em;
}

.page-id-38 ul.horizon input[type="submit"]{
	width: auto;
	float: right;
    padding: 0 2.8em;
}

.page-id-38 ul.horizon.three li{
	width: auto;
}

.page-id-38 input[type="submit"]:hover{
	border: none;
}

.ajax-loader{
	display: none !important;
	font-size: 0 !important;
}

/* Agents */

section.refer{
	background: #eeeeee;
	width: 100%;
	color: #5b6770;
	text-align: center;
	margin: 0;
	min-height: 32em;
}

section.refer .inRefer{
	max-width: 60em;
	margin: 0 auto;
	padding: 4.2em 0 6.2em;
}

section.refer .inRefer .line, section.easy .inEasy .line{
	background: #5b6770;
}

section.refer .inRefer p, section.easy .inEasy p{
	max-width: 38em;
    font-size: 1.28em;
    letter-spacing: 0.04em;
    margin: 1.8em auto;
}

.easy h4{
	font-weight: 400;
	font-size: 1.48em;
}

ul.reason{
	margin: 0;
	padding: 0;
	overflow: auto;
	width: 100%;
}

ul.reason li{
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0 1.2em;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 2px solid #5b6770;
}

section.value ul.reason{
	margin: 6em 0 0 0;
	padding: 0;
	overflow: auto;
	width: 100%;
}

section.value ul.reason li{
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0 1.2em 1em;
	font-size: 1.2em;
	color: #ffffff;
	font-weight: bold;
	border-bottom: 2px solid #ffffff;
}

section.easy{
	width: 100%;
	color: #5b6770;
	text-align: center;
	margin: 0;
	min-height: 32em;
}

section.easy .inEasy{
	max-width: 60em;
	margin: 0 auto;
	padding: 4.2em 0 6.2em;
}

ul.process{
	margin: 0;
	padding: 0;
	overflow: auto;
	width: 100%;
}

ul.process li{
	position: relative;
	width: 33%;
	height: 22.875em;
	background: #eeeeee;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

ul.process li h4{
	text-transform: uppercase;
	font-size: 1.2em;
}

ul.process li h5{
	color: #001388;
	font-weight: normal;
	font-size: 0.92em;
}

#page ul.process li p{
	padding: 0 2em;
	margin: 1.8em auto 0.8em;
}

ul.process li .open{
	opacity: 0;
	background: rgba(0, 19, 136, 0.9);
	position: absolute;
	z-index: 555;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s;
}

ul.process li .open a, ul.process li .open a:visited{
	color: #ff4337;
	border-bottom: none;
	text-decoration: none;
	cursor: pointer;
}

ul.process li .open:hover{
	opacity: 1;
}

ul.process li .open button{
	padding: 1.2em 1.6em 1em;
	margin: 0 0.2em;
	font-weight: bold;
	text-transform: uppercase;
}

ul.process li .open button:hover{
	border: none;
	border-bottom: none;
	text-decoration: none;
}

ul.process li .open button:hover a{
	color: #ffffff;
	border-bottom: none;
	text-decoration: none;
}

ul.process li .open h4, #page ul.process li .open p{
	color: #ffffff;
	line-height: 1.4em;
}

ul.process li .open p{
	font-size: 0.98em;
}

.page-id-52 section.getConnect{
	width: 100%;
	background: #5b6770;
	text-align: center;
	margin: 0;
	min-height: 28em;
	padding-bottom: 4em;
}

.page-id-52 section.getConnect .inConnect{
	max-width: 60em;
	margin: 0 auto;
	padding: 3.2em 0 0 0;
}

ul.horizon.reg li:nth-child(1), ul.horizon.reg li:nth-child(2), ul.horizon.reg li:nth-child(3), ul.horizon.reg li:nth-child(4), ul.horizon.reg li:nth-child(5){
	width: 20%;
	float: left;
	border-right: 1px solid #5a666f;
}

body .ui-datepicker .ui-datepicker-prev, body .ui-datepicker .ui-datepicker-next{
	top: 4px;
}

body .ui-widget-header .ui-icon{
	background-image: url('/wp-content/themes/please-connect-me/img/calendar-arrow.svg');
	background-size: 16px 16px;
	background-position: 0 0;
	cursor: pointer;
}

body .ui-widget-header .ui-datepicker-next .ui-icon{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

body .ui-corner-all.ui-state-hover{
	margin: 0;
	background: none;
	border: none;
}

section.register .inRegister h3{
	color: #ffffff;
}

section.register p{
	color: #ffffff;
	font-size: 1.28em;
    letter-spacing: 0.04em;
}

:root .soc{
	width: 10em !important;
	height: 40px !important;
	position: absolute !important;
	left: 1em !important;
	bottom: 2em !important;
	top: auto !important;
}

:root .soc img{
	float: left;
	margin-right: 0.4em;
}

:root .soc a, :root .soc a:visited, :root .soc a:hover{
	color: #ffffff;
	text-decoration: none;
}

:root .social{
	opacity: 0.6;
	line-height: 2.6em;
}

:root .social:hover{
	opacity: 1;
}

:root body.page-id-52{
	background: #001388;
}

section.value{
	width: 100%;
	color: #5b6770;
	text-align: center;
	margin: 0;
	min-height: 32em;
	background: url('img/value.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}

section.value .inValue{
	max-width: 60em;
	margin: 0 auto;
	padding: 4.2em 0 6.2em;
}

section.value .inValue h3{
	color: #ffffff;
}

section.value .inValue p{
	max-width: 38em;
	color: #ffffff;
    font-size: 1.28em;
    letter-spacing: 0.04em;
    margin: 1.8em auto;
}

section.value .inValue .line{
	background: #ffffff;
}

/* ------ T & C's ------ */

.page-id-61 ol{
	margin: 0;
	padding: 0;
}

.page-id-61 ol li{
	padding-bottom: 1em;
}

/* Footer */

#colophon{
	background: #001388;
	min-height: 16.4em;
}

.site-info{
	max-width: 60em;
	margin: 2em auto;
	color: #ffffff;
	text-align: center;
}

.site-info p{
	font-size: 0.8em;
	clear: both;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.site-info p a, .site-info p a:visited{
	color: #ffffff;
	text-decoration: none;
}

.site-info p a:hover{
	color: #AAAAAA;
	text-decoration: none;
}

#footer-sidebar1, #footer-sidebar2, #footer-sidebar3{
	width: 33%;
	float: left;
	padding-bottom: 2.8em;
}

.site-info .line{
	color: #ffffff;
	background: #ffffff;
	height: 3px;
	max-width: 5em;
    margin: 0 auto 1em;
}

.site-info a, .site-info a:visited{
	color: #ffffff;
	text-decoration: none;
	border-bottom: none;
}

.site-info a:hover{
	color: #AAAAAA;
	text-decoration: none;
	border-bottom: 2px;
}

.site-info a:active, .site-info p a:active{
	color: #ff4337;
	text-decoration: none;
	border-bottom: none;
}

.error404 h1.page-title{
	text-align: center;
	font-size: 6.2em;
	color: #ff4337;
	padding: 1em 0 0 0;
	margin: 0;
}

.error404 .page-content{
	text-align: center;
	padding-bottom: 6em;
}

.error404 .page-content p{
	font-size: 1.2em;
	padding: 0 1em;
}

ul.socialLine{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

ul.socialLine li{
	list-style: none;
	display: inline-block;
	margin: 0 0.1em;
	opacity: 0.8;
}

ul.socialLine li:hover{
	opacity: 1;
}

#page #ui-datepicker-div{
	display: block;
}

#ui-datepicker-div{
	display: none;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.333%;
	float: left;
	margin: 0;
    padding: 0;
    line-height: 0;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
